bin/*
.vscode/settings.json
tests/procedural_generation/bin/*
assets/*
chunks/*
tests/procedural_generation/*.bmp
tests/enemy_spawning/bin/*
tests/enemy_spawning/assets
tests/console/assets
tests/console/bin/*
tests/console/chunks
tests/procedural_generation/assets
